In [1]:
from data_handler import get_adj_close

In [3]:
start='2018-01-01'
end='2020-12-31'
interval='1mo'
ticker_list = ['AAPL', 'NVDA', 'FTNT']

df = get_adj_close(ticker_list, start, end, interval)

[*********************100%***********************]  3 of 3 completed

In [4]:
df.head()

                 AAPL       FTNT       NVDA
Date
2018-01-01  39.982349  46.040001  60.876518
2018-02-01  42.535114  50.470001  59.935383
2018-02-09        NaN        NaN        NaN
2018-02-22        NaN        NaN        NaN
2018-03-01  40.229279  53.580002  57.392811